+++
title = "Mandar Shinde"
linkTitle = "Mandar Shinde"

+++

{{< blocks/cover title="Experienced Technical Writer | Doc-as-Code Expert" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		About Me <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/examples" >}}">
		Doc Examples <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-0"><strong>More than ten years of experience in producing technical publications, with a proven track record of managing end-to-end documentation of products and projects.</strong></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<div class="content">
	<div class="content">
	  <h1>What I Do</h1>
	  <br>
	  <p class="text-left">I help companies to simplify complex concepts and publish documents so that end users can use and troubleshoot the applications effectively. I work as a communicator between a business and a consumer.</p>
	  <p class="text-left">I am fortunate to work both with startups as well as with fortune 500 companies.</p>
	  <p class="text-left">My areas of expertise include technical documentation, API documentation, user experience review, doc-as-code toolkit.</p>
	  <p class="text-left">I am an experienced DITA-XML certified information developer, technical communication specialist, enthusiastic API writer, and an aspiring business analyst. I intend to write technical content that enhances product quality. I have the ability to create and edit test cases.</p>
	  
	  {{< blocks/link-down color="info" >}}
	</div>
  </div>
  
{{% /blocks/lead %}}


{{% blocks/lead color="orange" %}}

<div class="content">
	<div class="content">
	  <h1>What I Focus On</h1>
	  <br>
	  <p class="text-center"><strong>Help Experience</strong>
	  <p class="text-center"><strong>Content Strategy</strong></p>
	  <p class="text-center"><strong>Information Experience and User Experience</strong></p>
	  <p class="text-center"><strong>API Documentation Design</strong></p>
	  
	  {{< blocks/link-down color="info" >}}
	</div>
  </div>
  
{{% /blocks/lead %}}

{{% blocks/lead color="blue" %}}

<div class="content">
	<div class="content">
	  <h1>What I Can Help With</h1>
	  <br>
	  <p class="text-left">I have worked with companies of all sizes and varying documentation scope. Depending on your needs, I can dabble in the multiple things listed below or focus on just one.</p>
	  <p class="text-left"><li>Product Content Management</li></p>
	  <p class="text-left"><li>Knowledgebase Management</li></p>
	  <p class="text-left"><li>Adapt to any doc-as-code toolkit to publish technical documentation</li></p>
	  <p class="text-left"><li>Review Mockup Designs from self-serve perspective</li></p>
	  <p class="text-left"><li>Creating demo videos, product led growth videos, feature videos, etc.</li></p>
	</div>
  </div>
  
{{% /blocks/lead %}}

